body {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
  background-color: #06d6a0;
  color: #073b4c;
  width: 16rem;
}
form,
input {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

main {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
button {
  position: relative;
  box-shadow: 0.5px 1px 1px #073b4c;
  border-bottom: 0.1em solid #073b4c;
  border-radius: 4px;
  background-color: #daf3fc;
  padding: 4px;

  width: 50%;
  border-bottom: 0.1em solid #073b4c;
  background-color: #daf3fc;
}
